/* Large devices (laptops/desktops, 992px and up) */


/* slider section responsive start */

#sliderHome {
    padding: 40px 0;
    background: #f5f5f5;
}
 
/* slider section responsive end */

/* category product follow buton section start */
.productBtn {
    display: flex;
    justify-content: end;
}
.item.btn2 {
    margin-right: 20px;
}
.item.btn1 h1{
    display: flex;
}
.item.btn1 h1 b{
    margin-left: 5px;
}
/* category product follow buton section start */

/* category prpoduct responsive start */
.wrapper {
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}
 
 
.catHeader {
	 
	 display: flex;
     justify-content: space-around;
}
.productWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}
.productWrapper {
   
    width: 95%;
    margin: auto;
}
/* category prpoduct responsive end */


/* category img section start */
 
.catImgGrid1 {
 
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.catImg3{
   grid-column: unset;
}
.catImgGrid2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* category img section end */
